:root {
    --moderate-violet: hsl(263, 55%, 52%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);

    --ff-barlow-semi: "Barlow Semi Condensed", sans-serif;
}

body {
    font-family: var(--ff-barlow-semi);
    background-color: var(--light-grayish-blue);
}

main {
    padding-top: 4.4375rem;
    padding-bottom: 4.4375rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: grid;
    gap: 1.5rem;
}

.card {
    padding: 1.5rem 2rem 2rem;
    border-radius: .5rem;

    header {
        display: flex;
    }

    .profile-img {
        border-radius: 50%;
        margin-right: 1rem;
    }

    .quote {
        font-size: 1.25rem;
        margin-bottom: 2.5rem;
    }
}

.daniel-clifford-card {
    background-color: var(--moderate-violet);
    color: var(--white);
}

.jonathan-walters-card {
    background-color: var(--very-dark-grayish-blue);
}

.jeanette-harmon-card {
    background-color: var(--white);
}

.patrick-abrams-card {
    background-color: var(--very-dark-blackish-blue);
}

.kira-whittle-card {
    background-color: var(--white);
}
